{% extends 'layouts/base.html' %}

{% load static %}
<script src="{% static 'js/workout_detail.js' %}"></script>

{% block content %}

<p>
    ⏳ <b id="timer">{{ rest_time }}</b>

    <p>
        <button id="btnPause" hidden onclick="pauseRestTimer('{{ rest_time }}', document.querySelector('#timer'))">⏸️ Pause</button>
        <button id="btnReset" hidden onclick="resetRestTimer('{{ rest_time }}', document.querySelector('#timer'))" type="reset">🔄️ Reset</button>
        <button id="btnStart" onclick="startRestTimer('{{ rest_time }}', document.querySelector('#timer'))">▶️ Start</button>
    </p>
</p>
{% if edit_work %}
<form action="{% url 'workout_update' workout.id %}" method="POST">
    {% csrf_token %}
    {{workout_form.as_p}}

    <button type="submit">Guardar</button>
</form>
{% else %}
<h1>Workout: {{ workout.created_at }}</h1>
<h2>Notes: {{ workout.notes }}</h2>

<a href="?edit=true"><button>✏️ Editar</button></a>


{% endif %}
<!-- url 'create_setgroup' workout.id, 1-->

{% for setgroup in workout.setgroup_set.all %}
<h3>SetGroup: {{setgroup.exercise.name}} <button><a href="{% url 'setgroup_delete' setgroup.id %}">❌ Delete</a></button>
</h3>

<p>Order: {{setgroup.order}}</p>

{% for set in setgroup.set_set.all %}
<p>
<form method="post">
    {% csrf_token %}

    <input type="hidden" name="set_id" value="{{set.id}}">
    <input type="number" name="weight" value="{{set.weight}}">
    <label for="weight">Weight</label>
    <input type="number" name="reps" value="{{set.reps}}">
    <label for="reps">Reps</label>

    <button name="update_set" type="submit">☑️ Update</a></button>
    <button><a href="{% url 'set_delete' workout.id set.id %}">❌ Delete </a></a></button>
</form>

</p>

{% endfor %}

<form method="post">
    {% csrf_token %}
    {{ set_form.as_p }}
    <input type="num" hidden name="setgroup_id" value="{{setgroup.id}}">
    <button name="save_set" type="submit">☑️ Save </button>
    <!-- <button> ❌ Cancel </a></button> -->
</form>



{% endfor %}

{{error}}

<button><a href="{% url 'create_setgroup' workout.id %}">➕ Add exercise</a></button>

{% endblock content %}